In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/201701-citibike-tripdata.csv')
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [31]:
df1.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [4]:
df2 = pd.read_csv('data/201702-citibike-tripdata.csv')
df2.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1087,2017-02-01 00:00:13,2017-02-01 00:18:20,345,W 13 St & 6 Ave,40.736494,-73.997044,305,E 58 St & 3 Ave,40.760958,-73.967245,17432,Subscriber,1966.0,1
1,704,2017-02-01 00:00:31,2017-02-01 00:12:15,3295,Central Park W & W 96 St,40.791270,-73.964839,2006,Central Park S & 6 Ave,40.765909,-73.976342,20621,Customer,NaN,0
2,212,2017-02-01 00:00:34,2017-02-01 00:04:06,336,Sullivan St & Washington Sq,40.730477,-73.999061,439,E 4 St & 2 Ave,40.726281,-73.989780,16826,Subscriber,1984.0,1
3,1140,2017-02-01 00:00:44,2017-02-01 00:19:44,484,W 44 St & 5 Ave,40.755003,-73.980144,3295,Central Park W & W 96 St,40.791270,-73.964839,27052,Subscriber,1980.0,1
4,320,2017-02-01 00:00:42,2017-02-01 00:06:02,490,8 Ave & W 33 St,40.751551,-73.993934,3431,E 35 St & 3 Ave,40.746524,-73.977885,25238,Subscriber,1987.0,1

In [32]:
df2.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1087,2017-02-01 00:00:13,2017-02-01 00:18:20,345,W 13 St & 6 Ave,40.736494,-73.997044,305,E 58 St & 3 Ave,40.760958,-73.967245,17432,Subscriber,1966.0,1
1,704,2017-02-01 00:00:31,2017-02-01 00:12:15,3295,Central Park W & W 96 St,40.791270,-73.964839,2006,Central Park S & 6 Ave,40.765909,-73.976342,20621,Customer,NaN,0
2,212,2017-02-01 00:00:34,2017-02-01 00:04:06,336,Sullivan St & Washington Sq,40.730477,-73.999061,439,E 4 St & 2 Ave,40.726281,-73.989780,16826,Subscriber,1984.0,1
3,1140,2017-02-01 00:00:44,2017-02-01 00:19:44,484,W 44 St & 5 Ave,40.755003,-73.980144,3295,Central Park W & W 96 St,40.791270,-73.964839,27052,Subscriber,1980.0,1
4,320,2017-02-01 00:00:42,2017-02-01 00:06:02,490,8 Ave & W 33 St,40.751551,-73.993934,3431,E 35 St & 3 Ave,40.746524,-73.977885,25238,Subscriber,1987.0,1

In [5]:
df3 = pd.read_csv('data/201703-citibike-tripdata.csv')
df3.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1893,2017-03-01 00:00:32,2017-03-01 00:32:06,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,27291,Subscriber,1973.0,2
1,223,2017-03-01 00:01:09,2017-03-01 00:04:53,127,Barrow St & Hudson St,40.731724,-74.006744,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,19387,Subscriber,1985.0,2
2,1665,2017-03-01 00:01:27,2017-03-01 00:29:12,174,E 25 St & 1 Ave,40.738177,-73.977387,307,Canal St & Rutgers St,40.714275,-73.989900,15809,Subscriber,1988.0,1
3,100,2017-03-01 00:01:29,2017-03-01 00:03:10,316,Fulton St & William St,40.709560,-74.006536,306,Cliff St & Fulton St,40.708235,-74.005301,18956,Subscriber,1991.0,1
4,1229,2017-03-01 00:01:33,2017-03-01 00:22:02,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,25728,Subscriber,1963.0,1

In [33]:
df3.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1893,2017-03-01 00:00:32,2017-03-01 00:32:06,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,27291,Subscriber,1973.0,2
1,223,2017-03-01 00:01:09,2017-03-01 00:04:53,127,Barrow St & Hudson St,40.731724,-74.006744,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,19387,Subscriber,1985.0,2
2,1665,2017-03-01 00:01:27,2017-03-01 00:29:12,174,E 25 St & 1 Ave,40.738177,-73.977387,307,Canal St & Rutgers St,40.714275,-73.989900,15809,Subscriber,1988.0,1
3,100,2017-03-01 00:01:29,2017-03-01 00:03:10,316,Fulton St & William St,40.709560,-74.006536,306,Cliff St & Fulton St,40.708235,-74.005301,18956,Subscriber,1991.0,1
4,1229,2017-03-01 00:01:33,2017-03-01 00:22:02,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,25728,Subscriber,1963.0,1

In [6]:
df4 = pd.read_csv('data/201704-citibike-tripdata.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,195,2017-04-01 00:00:58,2017-04-01 00:04:14,217,Old Fulton St,40.702772,-73.993836,430,York St & Jay St,40.701485,-73.986569,25454,Subscriber,1966.0,1
1,585,2017-04-01 00:01:54,2017-04-01 00:11:40,490,8 Ave & W 33 St,40.751551,-73.993934,3158,W 63 St & Broadway,40.771639,-73.982614,25930,Subscriber,1995.0,1
2,665,2017-04-01 00:01:56,2017-04-01 00:13:01,504,1 Ave & E 16 St,40.732219,-73.981656,412,Forsyth St & Canal St,40.715816,-73.994224,27110,Subscriber,1987.0,1
3,262,2017-04-01 00:02:24,2017-04-01 00:06:47,445,E 10 St & Avenue A,40.727408,-73.981420,411,E 6 St & Avenue D,40.722281,-73.976687,28392,Subscriber,1961.0,1
4,134,2017-04-01 00:02:36,2017-04-01 00:04:50,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,19316,Subscriber,1967.0,2

In [38]:
df5 = pd.read_csv('data/201705-citibike-tripdata.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,27695,Subscriber,1996.0,2
1,248,2017-05-01 00:00:19,2017-05-01 00:04:28,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,15869,Subscriber,1996.0,1
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,3083,Bushwick Ave & Powers St,40.712477,-73.941000,18700,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,40.739713,-73.994564,116,W 17 St & 8 Ave,40.741776,-74.001497,24981,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,40.747348,-73.997236,527,E 33 St & 2 Ave,40.744023,-73.976056,25407,Subscriber,1964.0,1

In [37]:
df6 = pd.read_csv('data/201706-citibike-tripdata.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1397,2017-06-01 00:00:02,2017-06-01 00:23:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,26642,Subscriber,1967.0,1
1,1103,2017-06-01 00:00:13,2017-06-01 00:18:37,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,25656,Subscriber,1981.0,1
2,1810,2017-06-01 00:00:20,2017-06-01 00:30:31,461,E 20 St & 2 Ave,40.735877,-73.982050,465,Broadway & W 41 St,40.755136,-73.986580,21023,Subscriber,1982.0,1
3,1760,2017-06-01 00:00:24,2017-06-01 00:29:45,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,25718,Subscriber,1973.0,2
4,2165,2017-06-01 00:00:33,2017-06-01 00:36:38,360,William St & Pine St,40.707179,-74.008873,474,5 Ave & E 29 St,40.745168,-73.986831,18691,Subscriber,1985.0,1

In [9]:
df7 = pd.read_csv('data/201707-citibike-tripdata.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [10]:
df8 = pd.read_csv('data/201708-citibike-tripdata.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2110,2017-08-01 00:00:00,2017-08-01 00:35:11,470,W 20 St & 8 Ave,40.743453,-74.000040,3289,W 90 St & Amsterdam Ave,40.790179,-73.972889,20954,Subscriber,1978.0,2
1,160,2017-08-01 00:00:10,2017-08-01 00:02:51,348,W Broadway & Spring St,40.724910,-74.001547,151,Cleveland Pl & Spring St,40.722104,-73.997249,15164,Subscriber,1978.0,1
2,1644,2017-08-01 00:00:17,2017-08-01 00:27:41,3165,Central Park West & W 72 St,40.775794,-73.976206,3320,Central Park West & W 100 St,40.793393,-73.963556,17540,Subscriber,1962.0,2
3,323,2017-08-01 00:00:27,2017-08-01 00:05:51,389,Broadway & Berry St,40.710446,-73.965251,3073,Division Ave & Hooper St,40.706913,-73.954417,18705,Subscriber,1990.0,1
4,109,2017-08-01 00:00:41,2017-08-01 00:02:31,3145,E 84 St & Park Ave,40.778627,-73.957721,3147,E 85 St & 3 Ave,40.778012,-73.954071,27975,Subscriber,1983.0,1

In [11]:
df9 = pd.read_csv('data/201709-citibike-tripdata.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331,Riverside Dr & W 104 St,40.801343,-73.971146,3328,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3100,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140,1 Ave & E 78 St,40.771404,-73.953517,3141,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236,St Marks Pl & 2 Ave,40.728419,-73.987140,473,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427,Lafayette St & Jersey St,40.724305,-73.996010,3431,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1

In [12]:
df10 = pd.read_csv('data/201710-citibike-tripdata.csv')
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,457,2017-10-01 00:00:00,2017-10-01 00:07:38,479,9 Ave & W 45 St,40.760193,-73.991255,478,11 Ave & W 41 St,40.760301,-73.998842,30951,Subscriber,1985.0,1
1,6462,2017-10-01 00:00:20,2017-10-01 01:48:03,279,Peck Slip & Front St,40.707873,-74.001670,307,Canal St & Rutgers St,40.714275,-73.989900,14809,Customer,NaN,0
2,761,2017-10-01 00:00:27,2017-10-01 00:13:09,504,1 Ave & E 16 St,40.732219,-73.981656,350,Clinton St & Grand St,40.715595,-73.987030,28713,Subscriber,1992.0,1
3,1193,2017-10-01 00:00:29,2017-10-01 00:20:22,3236,W 42 St & Dyer Ave,40.758985,-73.993800,3233,E 48 St & 5 Ave,40.757246,-73.978059,16008,Customer,1992.0,2
4,2772,2017-10-01 00:00:32,2017-10-01 00:46:44,2006,Central Park S & 6 Ave,40.765909,-73.976342,469,Broadway & W 53 St,40.763441,-73.982681,14556,Customer,NaN,0

In [13]:
df11 = pd.read_csv('data/201711-citibike-tripdata.csv')
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,297,2017-11-01 00:00:01,2017-11-01 00:04:59,418,Front St & Gold St,40.702240,-73.982578,414,Pearl St & Anchorage Pl,40.702819,-73.987658,24753,Subscriber,1986.0,1
1,269,2017-11-01 00:00:01,2017-11-01 00:04:30,3556,24 St & 41 Ave,40.752709,-73.939740,3126,44 Dr & Jackson Ave,40.747182,-73.943264,19063,Subscriber,1990.0,1
2,285,2017-11-01 00:00:04,2017-11-01 00:04:50,275,Washington Ave & Greene Ave,40.686501,-73.965633,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,29131,Subscriber,1993.0,1
3,478,2017-11-01 00:00:13,2017-11-01 00:08:11,3545,Broadway & W 122 St,40.812056,-73.961255,3316,W 104 St & Amsterdam Ave,40.798994,-73.966217,32841,Customer,NaN,0
4,574,2017-11-01 00:00:20,2017-11-01 00:09:54,458,11 Ave & W 27 St,40.751396,-74.005226,434,9 Ave & W 18 St,40.743174,-74.003664,17697,Subscriber,1975.0,2

In [43]:
df12 = pd.read_csv('data/201712-citibike-tripdata.csv')
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [41]:
citibike_2017 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
citibike_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0
5,666,2017-01-01 00:01:51,2017-01-01 00:12:57,3163,Central Park West & W 68 St,40.773407,-73.977825,3163,Central Park West & W 68 St,40.773407,-73.977825,16050,Subscriber,2000.0,1
6,559,2017-01-01 00:05:00,2017-01-01 00:14:20,499,Broadway & W 60 St,40.769155,-73.981918,479,9 Ave & W 45 St,40.760193,-73.991255,27294,Subscriber,1973.0,1
7,826,2017-01-01 00:05:37,2017-01-01 00:19:24,362,Broadway & W 37 St,40.751726,-73.987535,445,E 10 St & Avenue A,40.727408,-73.981420,23288,Subscriber,1977.0,2
8,255,2017-01-01 00:05:47,2017-01-01 00:10:02,430,York St & Jay St,40.701485,-73.986569,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,25041,Subscriber,1989.0,1
9,634,2017-01-01 00:07:34,2017-01-01 00:18:08,3165,Central Park West & W 72 St,40.775794,-73.976206,3164,Columbus Ave & W 72 St,40.777057,-73.978985,16311,Subscriber,1980.0,1
10,1081,2017-01-01 00:07:49,2017-01-01 00:25:50,528,2 Ave & E 31 St,40.742909,-73.977061,526,E 33 St & 5 Ave,40.747659,-73.984907,26138,Subscriber,1993.0,1
11,479,2017-01-01 00:08:00,2017-01-01 00:15:59,474,5 Ave & E 29 St,40.745168,-73.986831,3259,9 Ave & W 28 St,40.749370,-73.999234,19728,Subscriber,1973.0,1
12,2005,2017-01-01 00:05:57,2017-01-01 00:39:23,524,W 43 St & 6 Ave,40.755273,-73.983169,3325,E 95 St & 3 Ave,40.784903,-73.950503,17171,Subscriber,1992.0,1
13,738,2017-01-01 00:08:50,2017-01-01 00:21:09,297,E 15 St & 3 Ave,40.734232,-73.986923,355,Bayard St & Baxter St,40.716021,-73.999744,23874,Subscriber,1996.0,1
14,901,2017-01-01 00:09:18,2017-01-01 00:24:20,515,W 43 St & 10 Ave,40.760094,-73.994618,3428,8 Ave & W 16 St,40.740983,-74.001702,26501,Subscriber,1964.0,1
15,1246,2017-01-01 00:09:19,2017-01-01 00:30:06,3172,W 74 St & Columbus Ave,40.778567,-73.977550,3163,Central Park West & W 68 St,40.773407,-73.977825,20845,Subscriber,1977.0,1
16,899,2017-01-01 00:09:20,2017-01-01 00:24:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3428,8 Ave & W 16 St,40.740983,-74.001702,15597,Subscriber,1970.0,1
17,1504,2017-01-01 00:09:29,2017-01-01 00:34:34,423,W 54 St & 9 Ave,40.765849,-73.986905,3263,Cooper Square & E 7 St,40.729236,-73.990868,17810,Subscriber,1994.0,1
18,759,2017-01-01 00:09:30,2017-01-01 00:22:09,267,Broadway & W 36 St,40.750977,-73.987654,520,W 52 St & 5 Ave,40.759923,-73.976485,27279,Customer,NaN,0
19,1231,2017-01-01 00:09:59,2017-01-01 00:30:31,369,Washington Pl & 6 Ave,40.732241,-74.000264,306,Cliff St & Fulton St,40.708235,-74.005301,21128,Subscriber,1969.0,1
20,351,2017-01-01 00:10:11,2017-01-01 00:16:02,3139,E 72 St & Park Ave,40.771183,-73.964094,3146,E 81 St & 3 Ave,40.775730,-73.956753,26491,Subscriber,1984.0,2
21,229,2017-01-01 00:10:50,2017-01-01 00:14:40,279,Peck Slip & Front St,40.707873,-74.001670,308,St James Pl & Oliver St,40.713079,-73.998512,18417,Subscriber,1974.0,1
22,570,2017-01-01 00:10:50,2017-01-01 00:20:20,301,E 2 St & Avenue B,40.722174,-73.983688,301,E 2 St & Avenue B,40.722174,-73.983688,21400,Subscriber,1996.0,1
23,207,2017-01-01 00:10:53,2017-01-01 00:14:20,128,MacDougal St & Prince St,40.727103,-74.002971,229,Great Jones St,40.727434,-73.993790,26577,Subscriber,1991.0,1
24,6370,2017-01-01 00:11:34,2017-01-01 01:57:44,449,W 52 St & 9 Ave,40.764618,-73.987895,524,W 43 St & 6 Ave,40.755273,-73.983169,15603,Customer,NaN,0
25,6357,2017-01-01 00:11:44,2017-01-01 01:57:42,449,W 52 St & 9 Ave,40.764618,-73.987895,524,W 43 St & 6 Ave,40.755273,-73.983169,16373,Customer,NaN,0
26,6330,2017-01-01 00:12:13,2017-01-01 01:57:43,449,W 52 St & 9 Ave,40.764618,-73.987895,524,W 43 St & 6 Ave,40.755273,-73.983169,17438,Customer,NaN,0
27,1342,2017-01-01 00:12:16,2017-01-01 00:34:38,153,E 40 St & 5 Ave,40.752062,-73.981632,428,E 3 St & 1 Ave,40.724677,-73.987834,25023,Subscriber,1968.0,2
28,1173,2017-01-01 00:12:40,2017-01-01 00:32:14,368,Carmine St & 6 Ave,40.730386,-74.002150,524,W 43 St & 6 Ave,40.755273,-73.983169,26003,Subscriber,1991.0,1
29,1386,2017-01-01 00:12:55,2017-01-01 00:36:02,513,W 56 St & 10 Ave,40.768254,-73.988639,494,W 26 St & 8 Ave,40.747348,-73.997236,18569,Subscriber,1986.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889937,1287,2017-12-31 23:40:35,2018-01-01 00:02:02,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,19064,Subscriber,1983.0,1
889938,1279,2017-12-31 23:40:35,2018-01-01 00:01:55,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,32939,Subscriber,1983.0,2
889939,482,2017-12-31 23:40:38,2017-12-31 23:48:41,379,W 31 St & 7 Ave,40.749156,-73.991600,507,E 25 St & 2 Ave,40.739126,-73.979738,16313,Subscriber,1993.0,1
889940,1303,2017-12-31 23:40:49,2018-01-01 00:02:33,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,28788,Subscriber,1987.0,1
889941,322,2017-12-31 23:41:35,2017-12-31 23:46:58,499,Broadway & W 60 St,40.769155,-73.981918,3165,Central Park West & W 72 St,40.775794,-73.976206,19080,Subscriber,1988.0,1
889942,1461,2017-12-31 23:42:45,2018-01-01 00:07:07,3135,E 75 St & 3 Ave,40.771129,-73.957723,3135,E 75 St & 3 Ave,40.771129,-73.957723,33034,Subscriber,1968.0,1
889943,257,2017-12-31 23:43:23,2017-12-31 23:47:40,349,Rivington St & Ridge St,40.718502,-73.983299,401,Allen St & Rivington St,40.720196,-73.989978,30823,Subscriber,1993.0,1
889944,347,2017-12-31 23:43:57,2017-12-31 23:49:44,3637,Fulton St & Waverly Ave,40.683239,-73.965996,120,Lexington Ave & Classon Ave,40.686768,-73.959282,25776,Subscriber,1983.0,1
889945,87,2017-12-31 23:44:23,2017-12-31 23:45:50,515,W 43 St & 10 Ave,40.760094,-73.994618,3236,W 42 St & Dyer Ave,40.758985,-73.993800,29177,Subscriber,1967.0,1
889946,177,2017-12-31 23:45:29,2017-12-31 23:48:26,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,3419,Douglass St & 4 Ave,40.679279,-73.981540,33045,Subscriber,1989.0,1
889947,225,2017-12-31 23:45:43,2017-12-31 23:49:29,3260,Mercer St & Bleecker St,40.727064,-73.996621,403,E 2 St & 2 Ave,40.725029,-73.990697,31102,Subscriber,1987.0,1
889948,531,2017-12-31 23:46:10,2017-12-31 23:55:02,423,W 54 St & 9 Ave,40.765849,-73.986905,448,W 37 St & 10 Ave,40.756604,-73.997901,19007,Subscriber,1955.0,2
889949,184,2017-12-31 23:46:15,2017-12-31 23:49:20,3431,E 35 St & 3 Ave,40.746524,-73.977885,472,E 32 St & Park Ave,40.745712,-73.981948,33182,Subscriber,1970.0,1
889950,189,2017-12-31 23:46:43,2017-12-31 23:49:52,504,1 Ave & E 16 St,40.732219,-73.981656,487,E 20 St & FDR Drive,40.733143,-73.975739,31315,Subscriber,1986.0,1
889951,313,2017-12-31 23:47:24,2017-12-31 23:52:37,513,W 56 St & 10 Ave,40.768254,-73.988639,3236,W 42 St & Dyer Ave,40.758985,-73.993800,26542,Subscriber,1984.0,1
889952,788,2017-12-31 23:47:55,2018-01-01 00:01:04,2008,Little West St & 1 Pl,40.705693,-74.016777,249,Harrison St & Hudson St,40.718710,-74.009001,30785,Subscriber,1985.0,1
889953,263,2017-12-31 23:48:35,2017-12-31 23:52:58,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3106,Driggs Ave & N Henry St,40.723250,-73.943080,31022,Subscriber,1981.0,0
889954,487,2017-12-31 23:48:39,2017-12-31 23:56:47,3077,Stagg St & Union Ave,40.708771,-73.950953,389,Broadway & Berry St,40.710446,-73.965251,25366,Subscriber,1985.0,1
889955,1323,2017-12-31 23:48:48,2018-01-01 00:10:52,236,St Marks Pl & 2 Ave,40.728419,-73.987140,430,York St & Jay St,40.701485,-73.986569,31643,Subscriber,1996.0,1
889956,952,2017-12-31 23:49:16,2018-01-01 00:05:08,455,1 Ave & E 44 St,40.750020,-73.969053,3238,E 80 St & 2 Ave,40.773914,-73.954395,31959,Subscriber,1953.0,1
889957,411,2017-12-31 23:49:34,2017-12-31 23:56:25,3288,E 88 St & 1 Ave,40.778301,-73.948813,3292,5 Ave & E 93 St,40.785785,-73.957481,26930,Subscriber,1991.0,1
889958,433,2017-12-31 23:49:36,2017-12-31 23:56:50,3288,E 88 St & 1 Ave,40.778301,-73.948813,3292,5 Ave & E 93 St,40.785785,-73.957481,31549,Subscriber,1990.0,1
889959,606,2017-12-31 23:50:04,2018-01-01 00:00:11,515,W 43 St & 10 Ave,40.760094,-73.994618,494,W 26 St & 8 Ave,40.747348,-73.997236,32812,Subscriber,1967.0,1
889960,1088,2017-12-31 23:50:08,2018-01-01 00:08:16,296,Division St & Bowery,40.714131,-73.997047,174,E 25 St & 1 Ave,40.738177,-73.977387,24875,Subscriber,1979.0,2
889961,429,2017-12-31 23:52:25,2017-12-31 23:59:34,447,8 Ave & W 52 St,40.763707,-73.985162,3172,W 74 St & Columbus Ave,40.778567,-73.977550,29712,Subscriber,1982.0,1
889962,397,2017-12-31 23:54:22,2018-01-01 00:01:00,3417,Baltic St & 5 Ave,40.679577,-73.978550,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,30841,Subscriber,1957.0,2
889963,332,2017-12-31 23:54:44,2018-01-01 00:00:16,3236,W 42 St & Dyer Ave,40.758985,-73.993800,513,W 56 St & 10 Ave,40.768254,-73.988639,30417,Subscriber,1984.0,1
889964,565,2017-12-31 23:56:07,2018-01-01 00:05:33,254,W 11 St & 6 Ave,40.735324,-73.998004,411,E 6 St & Avenue D,40.722281,-73.976687,16125,Subscriber,1991.0,1
889965,1659,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,40.773407,-73.977825,33328,Subscriber,1988.0,2
889966,1279,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,40.776321,-73.964274,31023,Subscriber,1968.0,2

In [40]:
citibike_2017.to_csv('citibike_2017.csv', sep = ',')